<div class="pages black-bg white page-contact" id="page-contact">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider">Contact</h4>
                <h1 style="color:white">Say hello!</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p style="color:white">We'll get back to you as soon as we can</p>
                    </div>
                </div>
            </header>
            <!-- End Header -->
            
            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                   
                    <!-- Contact information -->
                    <div class="span5 offset1">
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-phone"><i>Phone</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                               07931729663
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-place"><i>Location</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                23 Camden High Street, London, NW1 7JE
                            </div>
                        </div>
                        <div class="media">
                            <div class="social-icons sicon-white pull-left">
                                <a href="#" class="sicon-mail"><i>email</i></a>
                            </div> 
                            <div class="media-body smallFontBy08">
                                bteam@gmail.com
                            </div>
                        </div>
                        <div class="media">
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Get social</h5>
                        <div class="social-icons sicon-white bordered">
                            <a target = "_blank" href="https://www.facebook.com/bteam.fc" class="sicon-facebook"><i>Facebook</i></a>    
                            <a target = "_blank" href="https://twitter.com/bteamfc" class="sicon-twitter"><i>Twitter</i></a>
                          <a target = "_blank" href="http://uk.linkedin.com/pub/izaak-sofer/99/476/1b0" class="sicon-linkedin"><i>LinkedIn</i></a>
                        </div>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->
            
        </div>
        
        <!-- Background map image -->
        <div id="map-image">
            <img src="/assets/images/pages/contact/map_bck.jpg" alt="Treble">
        </div>
    </div>