    <div class="pages page-work" id="page-work">
        <div class="container">
            <!-- Header -->
            <header>
                <h4 class="line-divider"></h4>
                <h1>Portfolio</h1>
                <!-- Short desciption about Work in general -->
                <div class="row">
                    <div class="span8 offset2">
                       
                    </div>
                </div>
                    
                <!-- Sub menu -->
                <!-- 
                Params: 
                    plugin-filter: Defines links for filtering.
                -->
                <nav class="submenu">
                    <ul>
                        <li>
                            <a href="#" class="plugin-filter active" data-filter="all">All</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="projects">Projects</a>
                        </li>
                        <li>
                            <a href="#" class="plugin-filter" data-filter="tutorials">Tutorials</a>
                        </li>
                    </ul>
                </nav>
            </header>
            <!-- End Header -->
                
            <!-- Article -->
            <article>
                <!-- Portfolio items
                    Params: 
                        plugin-filter-elements: Defines items for filtering, each item has class which defines filter value.
                        portfolio-items: Customise portfolio items for hover effect.
                -->
                <ul class="thumbnails plugin-filter-elements portfolio-items">
                    <li class="span4 mix projects">
                        <a href="/pages/project_1/" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="/assets/images/pages/work/guardian_header_3.jpg" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>The Guardian API</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix projects">
                        <a href="/pages/project_2/" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="/assets/images/pages/work/twitter-api.png" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>Twitter API</h4>
                            </div>
                        </a>
                    </li>
                    <li class="span4 mix projects">
                        <a href="/pages/project_5/" data-destination="portfolio-items" data-insert="before">
                            <!-- Portfolio image -->
                            <img src="/assets/images/pages/work/d3.png" alt="Treble">
                            
                            <!-- Portfolio name, activated on hover -->
                            <div class="portfolio-overlay">
                                <h4>Data-Driven Documents</h4>
                            </div>
                        </a>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
        </div>
    </div>